.t-main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.t-main-layout__content {
    flex: 1;
    /* Empuja el footer hacia abajo si hay poco contenido */
    display: flex;
    flex-direction: column;
}